* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.section-start {
    margin: 15px 90px;
}

.page-start{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 23px;
}

.page-w{
    display: flex;
    font-size: 14px;
    gap: 5px;
    cursor: pointer;
}

.page-phone {
    display: flex;
    margin: 5px;
    height: 16px;
    width: 16px;
}

.w {
    color: red;
    font-size: 14px;
    opacity: 0.9;
}

.page-cxelixazi {
    color: gray;

}

.page-home {
    display: flex;
    gap: 20px;
    opacity: 0.9;
    cursor: pointer;
}


.online {
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-decoration: none;
    color: gray;
    font-size: 18px;
    transition: color .1s linear;
}

.online::after {
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #000;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .1s linear;
}

.online:hover {
    color: #000;
}

.online:hover::after{
    opacity: 1;
}

.filialebi {
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-decoration: none;
    color: gray;
    font-size: 18px;
    transition: color .1s linear;
}

.filialebi::after {
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #000;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .1s linear;
}

.filialebi:hover {
    color: #000;
}

.filialebi:hover::after{
    opacity: 1;
}

.aqcia {
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-decoration: none;
    color: red;
    font-size: 18px;
    transition: color .1s linear;
}

.aqcia::after {
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background-color: red;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .1s linear;
}

.aqcia:hover {
    color: red;
}

.aqcia:hover::after{
    opacity: 1;
}

.GEO {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 18px;
    gap: 5px;
    margin-left: 15px;
}

.flag-geo {
    display: flex;
    width: 25px;
    height: 26px;
    align-items: center;
    justify-content: center;
}

.page-start-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-logo {
    display: flex;
    gap: 5px;
    margin-top: 15px;
}

.market-logo {
    display: flex;
    height: 70px;
    width: 70px;
}

.name-market {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    cursor: pointer;
}

.page-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
}

.page-profile img{
    display: flex;
    height: 40px;
    width: 40px;
}

.page-profile a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    gap: 5px;
    color: black;
}

.profile-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
}

.section-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 500px;
    margin-top: 50px;
}

.container-1 img {
    height: 500px;
    width: 500px;
}

.main {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main a {
    text-decoration: none;
    font-size: 18px;
    color: gray;
}

.main p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    font: 900;
}

.main-name p {
    color: black;
    opacity: 0.9;
    font-size: 48px;
}

.mtavari {
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-decoration: none;
    color: gray;
    font-size: 18px;
    transition: color .1s linear;
}

.mtavari::after {
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #000;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .1s linear;
}

.mtavari:hover {
    color: #000;
}

.mtavari:hover::after {
    opacity: 1;
}

.main-earring {
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-decoration: none;
    color: gray;
    font-size: 18px;
    transition: color .1s linear;
}

.main-earring::after {
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #000;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .1s linear;
}

.main-earring:hover {
    color: #000;
}

.main-earring:hover::after {
    opacity: 1;
}

.price {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    margin-top: 10px;
}

.price b {
    color: red;
}

.price span {
    color: gray;
}

.info {
    font-size: 24px;
    margin-top: 10px;
}

.info-text {
    font-size: 18px;
}

.info-text span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    color: gray;
    opacity: 0.9;
}

.info-text b {
    color: black;
}